:root {
    --primary-color: green;
    --secondary-color: white;
    --text-color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
}

.hero {
    position: relative;
    width: 100%;
    max-height: 700px;
    overflow: hidden;
    padding-top: 20px;
}

.hero picture img {
    width: 100%;
    height: auto;
   
}

.weather {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.813);
    color: var(--text-color);
    padding: 15px;
    width: auto;
}

.weather h2 {
    margin: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-left: -20px;
    text-align: left;
    padding: 10px;
}

.data {
    position: absolute;
    margin-top: 20px;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.813);
    padding: 15px;
    width: 250px;
}

.data h2 {
    margin: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-left: -20px;
    text-align: left;
    padding: 10px;
}

@media (max-width: 768px) {
    .weather, .data {
        position: static;
        width: auto;
        margin: 10px auto;
        display: block;
    }

    .hero {
        max-height: 1000px;
    } 
}

@media screen and (max-width: 768px) {
    .data h2, .weather h2 {
        background: none !important;
        color: var(--text-color);
        text-align: center;
    }

}

/* Default: Show the text-based weather icon, hide the SVG */
.weather .weather-icon {
    display: inline;
    font-size: 1.5rem; 
}

.weather .weather-svg {
    display: none;
}

/* Mobile View: Hide text icon, show and resize SVG */
@media (max-width: 768px) {
    .weather .weather-icon {
        display: none;
    }

    .weather .weather-svg {
        display: inline-block;
        width: 80px;
        height: 80px; 
    }

    .weather .weather-svg img {
        width: 100%; 
        height: auto;
    }
}


footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
	align-items: center;
	justify-content: center;
    text-align: center;
	padding: 10px;
}

 footer p {
	margin: 0.25rem;
	padding: 0.5rem 0.75rem;
}


footer p:first-child::after {
    content: " 🌍";
    display: inline-block;
}


